// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addpic {
	color: navy;
	font-weight: bold;
}
.eraze {
	color: red;
	font-weight: bold;
}
.editphoto {
	color: yellow;
}